:root {
  --glass-white-1: var(--wave-color-opacity-contrast-fill-thin);
  --glass-white-1-hover: var(--wave-color-opacity-contrast-fill-regular);
  --glass-white-2: var(--wave-color-opacity-contrast-fill-thick);
  --glass-white-2-hover: var(--wave-color-opacity-contrast-fill-ultra-thick);
  --glass-white-3: var(--wave-color-opacity-contrast-fill-thick);
  --glass-white-4: var(--wave-color-opacity-contrast-fill-ultra-thin);
  --glass-white-5: var(--wave-color-opacity-contrast-fill-ultra-thin);
  --glass-white-6: var(--wave-color-opacity-contrast-fill-thin);
  --snow-white: var(--wave-color-solid-contrast-fill);
  --snow-white-hover: var(--wave-color-opacity-contrast-fill-ultra-thick);
  --gray-4: var(--wave-color-solid-contrast-darkest);
  --gray-5: var(--wave-color-solid-base-brightest);
  --gray-6: var(--wave-color-solid-base-brighter);
  --gray-7: var(--wave-color-solid-base-bright);
  --cyan-blue: var(--wave-color-solid-accent-fill);
  --cyan-blue-hover: var(--wave-color-solid-accent-dark);
  --glass-cyan-1: var(--wave-color-opacity-accent-ultra-thin);
  --glass-cyan-2: var(--wave-color-opacity-accent-thin);
  --glass-cyan-3: var(--wave-color-opacity-accent-regular);
  --master-gold: var(--wave-color-solid-special-fill);
  --master-gold-hover: var(--wave-color-opacity-special-fill-ultra-thick);
  --glass-master-gold: var(--wave-color-opacity-special-fill-thin);
  --glass-master-gold-2: var(--wave-color-opacity-special-regular);
  --raspberry-pink: var(--wave-color-solid-warning-fill);
  --raspberry-pink-lighter: var(--wave-color-solid-warning-bright);
  --black: var(--wave-color-solid-base-fill);
  --midnight-black: var(--wave-color-solid-base-fill);
  --controls-overlay: var(--wave-color-opacity-base-thick);
  --duration-overlay: var(--wave-color-opacity-base-regular);
  --background-dark: var(--wave-color-solid-base-fill);
  --hoverLighten: brightness(130%);
  --hoverDarken: brightness(70%);
  --hoverTransition: filter 0.15s ease;
  --scrollbar-track: var(--wave-color-solid-base-brighter);
  --scrollbar-thumb: var(--wave-color-solid-contrast-darkest);
  --lighten-25: var(--wave-color-solid-contrast-darker);
  --red-alert: var(--wave-color-solid-warning-fill);
  --user-profile-linear-gradient: linear-gradient(160deg,#9ccfd8 1.22%,#31748f 40.51%,#21202e 79.07%);
  --wave-border-radius--none: 0px;
  --wave-border-radius--extra-small: 4px;
  --wave-border-radius--small: 8px;
  --wave-border-radius--regular: 12px;
  --wave-border-radius--full: 1000px;
  --wave-color-material-dark: #1f1d2e80;
  --wave-color-material-light: #908caa33;
  --wave-color-opacity-accent-dark-ultra-thick: #31748fcc;
  --wave-color-opacity-accent-darkest-ultra-thick: #141f1e;
  --wave-color-opacity-accent-fill-regular: #31748f66;
  --wave-color-opacity-accent-fill-thin: #31748f33;
  --wave-color-opacity-accent-fill-ultra-thick: #31748fcc;
  --wave-color-opacity-accent-fill-ultra-thin: #31748f1a;
  --wave-color-opacity-base-bright-thick: #1f1d2e99;
  --wave-color-opacity-base-bright-thin: #1f1d2e33;
  --wave-color-opacity-base-bright-transparent: #1f1d2e;
  --wave-color-opacity-base-bright-ultra-thick: #1f1d2ecc;
  --wave-color-opacity-base-brighter-ultra-thick: #26233acc;
  --wave-color-opacity-base-brightest-regular: #39355266;
  --wave-color-opacity-base-brightest-thin: #39355233;
  --wave-color-opacity-base-brightest-ultra-thin: #3935521a;
  --wave-color-opacity-base-fill-regular: #19172466;
  --wave-color-opacity-base-fill-thick: #19172499;
  --wave-color-opacity-base-fill-thin: #19172433;
  --wave-color-opacity-base-fill-transparent: #000;
  --wave-color-opacity-base-fill-ultra-thick: #191724cc;
  --wave-color-opacity-base-fill-ultra-thin: #1917241a;
  --wave-color-opacity-contrast-fill-regular: #e0def466;
  --wave-color-opacity-contrast-fill-thick: #e0def499;
  --wave-color-opacity-contrast-fill-thin: #e0def433;
  --wave-color-opacity-contrast-fill-transparent: #fff;
  --wave-color-opacity-contrast-fill-ultra-thick: #e0def4cc;
  --wave-color-opacity-contrast-fill-ultra-thin: #e0def41a;
  --wave-color-opacity-rainbow-blue-thin: #9ccfd833;
  --wave-color-opacity-rainbow-yellow-fill-regular: #f6c17766;
  --wave-color-opacity-rainbow-yellow-fill-thin: #f6c17733;
  --wave-color-opacity-rainbow-yellow-fill-ultra-thick: #f6c177cc;
  --wave-color-opacity-rainbow-yellow-fill-ultra-thin: #f6c1771a;
  --wave-color-opacity-special-fill-regular: #ffbe7d66;
  --wave-color-opacity-special-fill-thin: #ffbe7d33;
  --wave-color-opacity-special-fill-ultra-thick: #ffbe7dcc;
  --wave-color-opacity-special-fill-ultra-thin: #ffbe7d1a;
  --wave-color-services-facebook: #1877f2;
  --wave-color-services-instagram-red: #e1306c;
  --wave-color-services-mtn: #f6c177;
  --wave-color-services-musix-orange: #f63;
  --wave-color-services-musix-pink: #ff0e83;
  --wave-color-services-play: #47237b;
  --wave-color-services-plus: #088655;
  --wave-color-services-snapchat: #fffc00;
  --wave-color-services-sprint: #ffdd05;
  --wave-color-services-t-mobile: #e30074;
  --wave-color-services-tik-tok-blue: #69c9d0;
  --wave-color-services-tik-tok-red: #ee1d52;
  --wave-color-services-twitter: #1da1f2;
  --wave-color-services-viacom-1: #00f;
  --wave-color-services-viacom-2: #7666aa;
  --wave-color-services-viacom-3: #d700c2;
  --wave-color-services-viacom-4: #ff4851;
  --wave-color-services-viacom-5: #f6c177;
  --wave-color-services-vivo: #c4a7e7;
  --wave-color-services-vodafone: #e61107;
  --wave-color-services-waze: #1da1f2;
  --wave-color-solid-accent-bright: #9ccfd8;
  --wave-color-solid-accent-brighter: #9ccfd8;
  --wave-color-solid-accent-dark: #56949f;
  --wave-color-solid-accent-darker: #244240;
  --wave-color-solid-accent-darkest: #141f1e;
  --wave-color-solid-accent-fill: #9ccfd8;
  --wave-color-solid-base-bright: #1f1d2e;
  --wave-color-solid-base-brighter: #26233a;
  --wave-color-solid-base-brightest: #393552;
  --wave-color-solid-base-fill: #191724;
  --wave-color-solid-contrast-dark: #e0def4;
  --wave-color-solid-contrast-darker: #908caa;
  --wave-color-solid-contrast-darkest: #6e6a86;
  --wave-color-solid-contrast-fill: #e0def4;
  --wave-color-solid-rainbow-blue-fill: #9ccfd8;
  --wave-color-solid-rainbow-green-brighter: #9ccfd8;
  --wave-color-solid-rainbow-green-dark: #56949f;
  --wave-color-solid-rainbow-green-darker: #31748f;
  --wave-color-solid-rainbow-green-darkest: #286983;
  --wave-color-solid-rainbow-green-fill: #9ccfd8;
  --wave-color-solid-rainbow-orange-fill: #ffc45c;
  --wave-color-solid-rainbow-purple-fill: #c4a7e7;
  --wave-color-solid-rainbow-red-bright: #eb6f92;
  --wave-color-solid-rainbow-red-brighter: #eb6f92;
  --wave-color-solid-rainbow-red-dark: #b4637a;
  --wave-color-solid-rainbow-red-darker: #422425;
  --wave-color-solid-rainbow-red-darkest: #1f1415;
  --wave-color-solid-rainbow-red-fill: #eb6f92;
  --wave-color-solid-rainbow-yellow-bright: #f6c177;
  --wave-color-solid-rainbow-yellow-brighter: #f2e9e1;
  --wave-color-solid-rainbow-yellow-dark: #ea9d34;
  --wave-color-solid-rainbow-yellow-darker: #423c24;
  --wave-color-solid-rainbow-yellow-darkest: #1f1c14;
  --wave-color-solid-rainbow-yellow-fill: #f6c177;
  --wave-color-solid-special-bright: #ebbcba;
  --wave-color-solid-special-brighter: #fff2e5;
  --wave-color-solid-special-dark: #ea9d34;
  --wave-color-solid-special-darker: #ea9d34;
  --wave-color-solid-special-darkest: #1f1a14;
  --wave-color-solid-special-fill: #ffbf80;
  --wave-color-solid-warning-bright: #eb6f92;
  --wave-color-solid-warning-brighter: #ebbcba;
  --wave-color-solid-warning-dark: #99334e;
  --wave-color-solid-warning-darker: #42242c;
  --wave-color-solid-warning-darkest: #1f1417;
  --wave-color-solid-warning-fill: #b4637a;
  --wave-color-text-disabled: var(--wave-color-solid-base-brightest);
  --wave-color-text-link: var(--wave-color-solid-accent-fill);
  --wave-color-text-main: var(--wave-color-solid-contrast-fill);
  --wave-color-text-placeholder: var(--wave-color-solid-base-brightest);
  --wave-color-text-secondary: var(--wave-color-solid-contrast-darker);
  --wave-color-text-tertiary: var(--wave-color-solid-contrast-darkest);
  --wave-font-weight--bold: 700;
  --wave-font-weight--demi: 600;
  --wave-font-weight--medium: 500;
  --wave-opacity--ultra-thin: .05;
  --wave-opacity--thin: .1;
  --wave-opacity--regular: .4;
  --wave-opacity--thick: .6;
  --wave-opacity--ultra-thick: .8;
  --wave-spacing--extra-extra-large: 64px;
  --wave-spacing--extra-large: 40px;
  --wave-spacing--large: 24px;
  --wave-spacing--medium: 20px;
  --wave-spacing--regular: 16px;
  --wave-spacing--small: 12px;
  --wave-spacing--extra-small: 8px;
  --wave-spacing--extra-extra-small: 4px;
}

.wave-text-caption-demi, .tidal-ui__v-stack {
    color: var(--wave-color-solid-accent-bright) !important;
}

.tidal-ui__icon {
    fill: var(--wave-color-solid-rainbow-purple-fill) !important;
    stroke: var(--wave-color-solid-rainbow-purple-fill) !important;
}